<h2 mat-dialog-title>Rendre le devoir</h2>
<form ngForm #formRendu (submit)="onRenduAssignment()">
<mat-dialog-content>
        <div class="form">
          <mat-form-field>
            <mat-label>Note</mat-label>
            <input
              matInput
              type="number"
              placeholder="Note"
              name="note"
              [(ngModel)]="noteAssignment"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Remarque</mat-label>
            <input
              matInput
              placeholder="Remarque"
              name="remarque"
              [(ngModel)]="remarqueAssignment"
            />
          </mat-form-field>
        </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Annuler</button>
  <button mat-button mat-dialog-close cdkFocusInitial color="primary" type="submit">Valider</button>
</mat-dialog-actions>
</form>


