<mat-card class="loginCard">
    <mat-card-title class="loginTitle">Login</mat-card-title>
    <mat-card-content>
        <form class="form" 
        ngForm (submit)="onLogin($event);loginForm.reset()" 
        #loginForm
        >
            
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl"
                    placeholder="Ex.pat@example.com" [(ngModel)]="email" required>
                @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                <mat-error>Entrez une adresse email valide</mat-error>
                }
                @if (emailFormControl.hasError('required')) {
                <mat-error>Le champ email est <strong>requis</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                [formControl]="passwordFormControl" [(ngModel)]="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                @if (passwordFormControl.hasError('required')) {
                    <mat-error>Entrez votre mot de passe</mat-error>
                }
            </mat-form-field>
            <div class="button">
                <button mat-button color="primary" [disabled]="email=='' || password==''"> 
                    Log In
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<p class="text-center">
    <a routerLink='/auth/signup'>
        Pas encore de compte ?
    </a>
</p>
  