@if(assignmentTransmis){
<div>
  <mat-card class="card-container" style="padding: 10px">
    <mat-card-header>
      <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
      <mat-card-subtitle>{{
        assignmentTransmis.dateDeRendu | date
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-container">
        <div
          class="flex-item example-header-image"
          [ngStyle]="{
            'background-image':
              'url(' +
              (assignmentTransmis.subject.professor?.picture ?? defaultImage) +
              ')'
          }"
        ></div>
        <div class="flex-item">
          {{ assignmentTransmis.subject.professor?.name }}
        </div>
      </div>
      <div>
        <img
          style="max-width: 400px"
          src="{{
            assignmentTransmis.subject.picture
              ? assignmentTransmis.subject.picture
              : defaultImage
          }}"
          alt="{{ assignmentTransmis.subject.name }}"
        />
      </div>
      <p
        [ngStyle]="{
          color: getColorRendu(assignmentTransmis),
          'font-weight': 'bold'
        }"
      >
        {{ assignmentTransmis.rendu ? "Rendu" : "Non rendu" }}
      </p>
      <p>Auteur : {{ assignmentTransmis.student.name }}</p>
      <p>Matière : {{ assignmentTransmis.subject.name }}</p>
      <p>
        Note : @if (assignmentTransmis.note) {<strong
          >{{ assignmentTransmis.note }}/20</strong
        >}
      </p>
      <p>{{ assignmentTransmis.remarque }}</p>
    </mat-card-content>
    @if (isAdmin) {
    <mat-card-actions>
      <nav>
        <a routerLink="/assignment/{{ assignmentTransmis._id }}/edit">
          <button mat-button color="primary">MODIFIER</button>
        </a>
      </nav>
      <button mat-button color="warn" (click)="onDeleteAssignment()">SUPPRIMER</button>
    </mat-card-actions>
    }
  </mat-card>
</div>

}
