
@if(assignmentTransmis){
<div>
    <mat-card class="card-container" style="padding: 10px;">
        <mat-card-header>
          <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
          <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="flex-container">
                <div class="flex-item example-header-image"></div>
                <div class="flex-item">Gabriel Mopolo</div>
            </div>
            <div>
                <img style="max-width: 400px;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <p [ngStyle]="{'color':getColorRendu(assignmentTransmis), 'font-weight':'bold'}">{{assignmentTransmis.rendu ? 'Rendu' : 'Non rendu'}}</p>
            <p>Matière : Big Data</p>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>Note : <strong>14/20</strong></p>
        </mat-card-content>
        <mat-card-actions>
            <nav>
                <a routerLink='/assignment/{{assignmentTransmis._id}}/edit'>
                    <button mat-button
                     > 
                        MODIFIER
                    </button>
                </a>
            </nav>
            <button mat-button
            (click)="onDeleteAssignment()"
            > 
            SUPPRIMER</button>
        </mat-card-actions>
      </mat-card>
</div>
    
      
}
