@if(assignmentTransmis){
<div>
  <mat-card class="card-container">
    <div class="flex-container">
      <div class="flex-item img-card">
        <img
          src="{{
            assignmentTransmis.subject.picture
              ? assignmentTransmis.subject.picture
              : defaultImage
          }}"
          alt="{{ assignmentTransmis.subject.name }}"
        />
      </div>
      <div class="flex-item" style="width: 500px;">
        <div>
          <div class="mat-mdc-card-title">
            {{ assignmentTransmis.nom }} 
            <span class="mat-mdc-card-title-subtitle">
              ( {{ assignmentTransmis.subject.name }} )
            </span>
          </div>
          <div class="mat-mdc-card-subtitle">
            {{ assignmentTransmis.dateDeRendu | date }}
          </div>
          
        </div>
        <div>
          <h3
            [ngStyle]="{
              color: getColorRendu(assignmentTransmis),
              'font-weight': 'bold'
            }"
          >
            {{ assignmentTransmis.rendu ? "Rendu" : "Non rendu" }}
          </h3>
          <fieldset class="mb-10">
            <div class="flex-container" style="align-items: center;">
              <div
               mat-card-avatar
                class="flex-item"
                [ngStyle]="{
                  'background-image':
                    'url(' +
                   (assignmentTransmis.subject.professor?.picture ?? defaultImage) +
                    ')',
                  'background-size':'cover'
                }"
              ></div>
              <div class="flex-item" style="margin-bottom: 10px;">
                {{ assignmentTransmis.subject.professor?.name }}
              </div>
            </div>
            <p>Etudiant : {{ assignmentTransmis.student.name }}</p>
          </fieldset>
          <fieldset class="mb-10">
            <p>
              Note : @if (assignmentTransmis.note) {<strong
                >{{ assignmentTransmis.note }}/20</strong
              >}
            </p>
            <p>{{ assignmentTransmis.remarque }}</p>
          </fieldset>
        </div>
        @if (isAdmin) {
          <div>
            <a routerLink="/assignment/{{ assignmentTransmis._id }}/edit">
              <button mat-button color="primary">MODIFIER</button>
            </a>
            <button mat-button color="warn" (click)="onDeleteAssignment()">SUPPRIMER</button>
          </div>
        }
      </div>
    </div>
  </mat-card>
</div>

}
