.container {
  display: flex;
  justify-content: space-between;
}
.container .info {
  margin-right: 2rem;
}
.container .head {
  background-color: #fafafa;
  padding: 1rem 1rem;
  border-radius: var(--mdc-elevated-card-container-shape);
  width: 50%;
  margin-right: 2rem;
}
:host ::ng-deep.mat-mdc-card-content {
  padding-top: 16px;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.flex-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 16px;
}
.flex-item {
    align-items: center;
    display: flex;
}
.card-container {
    max-width: 500px;
  }