<mat-accordion multi>
  @if (isAdmin) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Etat des devoirs</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-drag-drop-assignments></app-drag-drop-assignments>
    </mat-expansion-panel>
  }
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Liste des devoirs</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-list-assignments [isAdmin]="isAdmin" ></app-list-assignments>
  </mat-expansion-panel>
</mat-accordion>