table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
:host ::ng-deep.mat-mdc-paginator .mat-mdc-paginator-container {
  justify-content: center;
}
.mat-mdc-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
.flex-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
