:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .mat-mdc-form-field {
    margin-top: 16px;
    width: 100%;
  }

.progress-bar {
    padding: 0;
  }

  .progress {
    width: 50px;
  }

  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  .mat-toolbar-single-row button {
    width: 100px;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }