<div>
  <mat-card class="card-container" style="padding: 10px;">
    <mat-card-header>
      <mat-card-title>Ajout d'un devoir</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form  
        ngForm (submit)="onSubmit();assignmentForm.reset()" 
        #assignmentForm
        >
        <mat-stepper #stepper>
            <mat-step errorMessage="Le nom est requis.">
                <ng-template matStepLabel>Remplissez le nom et la date</ng-template>
                <div class="form">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input [formControl]="nomFormControl" matInput placeholder="Nom" name="nom" required>
                        @if (nomFormControl.hasError('required')) {
                          <mat-error>Veuillez donner un intitulé au devoir</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date de Rendu</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                  <button type="button" mat-button matStepperNext>Suivant</button>
                </div>
            </mat-step>
            <mat-step label="Selectionnez la matière">
                <div class="form">
                    <div class="flexbox">
                        <mat-form-field [ngStyle]="{'width':'50%'}">
                            <mat-label>Matière</mat-label>

                            <mat-select [formControl]="subjectControl" required>
                                
                                <mat-option>None</mat-option>
                                @for (subject of subjects; track subject) {
                                    <mat-option [value]="subject">
                                        <img [ngStyle]="{'width':'20px','height':'20px','border-radius':'50%'}" 
                                          src="{{
                                            subject.picture
                                              ? subject.picture
                                              : defaultImage
                                          }}">
                                        &nbsp;&nbsp;<span>{{subject.name}}</span>
                                    </mat-option>
                                }
                            </mat-select>
                            @if (subjectControl.hasError('required')) {
                                <mat-error>Veuillez choisir une matière</mat-error>
                              }
                        </mat-form-field>
                        <div class="img-container">
                            <img src="{{ subjectControl.value?.picture}}" >
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-label>Professeur</mat-label>
                        <input matInput disabled value="{{ (subjectControl.value?.professor!).name }}">
                      </mat-form-field>

                </div>
                <div>
                  <button type="button" mat-button matStepperPrevious>Précédent</button>
                  <button type="submit" mat-button color="primary" [disabled]="nomFormControl==null || subjectControl===null">
                    Valider
                  </button>
                </div>
            </mat-step>
          </mat-stepper>
        </form>
        
            


    </mat-card-content>
  </mat-card>
</div>