.cssload-container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
  .loader {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    margin: 0 auto;
    width: 5em;
    height: 5em;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    animation: spin 3s infinite;
  }
  
  .loader::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(-45deg);
    }
  
    50% {
      transform: rotate(-360deg);
      border-radius: 50%;
    }
  
    100% {
      transform: rotate(-45deg);
    }
  }