/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f9f5f5;}
body { margin: 70; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
    &.danger-snackbar {
      --mdc-snackbar-container-color: #f32121;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
  
.mat-mdc-snack-bar-container {
    &.success-snackbar {
      --mdc-snackbar-container-color: #076b15;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
.text-center{
    text-align: center;
}
.width-img{
  max-width: 300px;
}